In [2]:
import pandas as pd
from getpass import getuser
import numpy as np
from numpy.linalg import lstsq

In [3]:
# Get the current user's name
user = getuser()

# Load Data

In [4]:
# ---- EURO datasets ----
data_path = rf'C:\Users\{user}\Documents\GitHub\tiebreak_wc\data\out\wiki\men\uefa\eu\goals_eu_uefa.xlsx'
goals_eu_uefa = pd.read_excel(data_path)

data_path = rf'C:\Users\{user}\Documents\GitHub\tiebreak_wc\data\out\wiki\men\fifa\eu\goals_eu_fifa.xlsx'
goals_eu_fifa = pd.read_excel(data_path)

data_path = rf'C:\Users\{user}\Documents\GitHub\tiebreak_wc\data\out\wiki\men\uefa\eu\mbm_eu_uefa.xlsx'
mbm_eu_uefa = pd.read_excel(data_path)

data_path = rf'C:\Users\{user}\Documents\GitHub\tiebreak_wc\data\out\wiki\men\fifa\eu\mbm_eu_fifa.xlsx'
mbm_eu_fifa = pd.read_excel(data_path)

# ---- WORLD CUP datasets ----
data_path = rf'C:\Users\{user}\Documents\GitHub\tiebreak_wc\data\out\wiki\men\uefa\wc\goals_wc_uefa.xlsx'
goals_wc_uefa = pd.read_excel(data_path)

data_path = rf'C:\Users\{user}\Documents\GitHub\tiebreak_wc\data\out\wiki\men\fifa\wc\goals_wc_fifa.xlsx'
goals_wc_fifa = pd.read_excel(data_path)

data_path = rf'C:\Users\{user}\Documents\GitHub\tiebreak_wc\data\out\wiki\men\uefa\wc\mbm_wc_uefa.xlsx'
mbm_wc_uefa = pd.read_excel(data_path)

data_path = rf'C:\Users\{user}\Documents\GitHub\tiebreak_wc\data\out\wiki\men\fifa\wc\mbm_wc_fifa.xlsx'
mbm_wc_fifa = pd.read_excel(data_path)

# ---- Elo files ----
data_path = rf'C:\Users\{user}\Documents\GitHub\tiebreak_wc\data\in\elo_eu.xlsx'
elo_eu = pd.read_excel(data_path)

data_path = rf'C:\Users\{user}\Documents\GitHub\tiebreak_wc\data\in\elo_wc.xlsx'
elo_wc = pd.read_excel(data_path)

# ---- shock, suspense, surprise ----
data_path = rf'C:\Users\{user}\Documents\GitHub\tiebreak_wc\data\out\wiki\men\uefa\eu\tab_prob_eu_uefa.xlsx'
sss_eu = pd.read_excel(data_path)

data_path = rf'C:\Users\{user}\Documents\GitHub\tiebreak_wc\data\out\wiki\men\fifa\wc\tab_prob_fifa_wc.xlsx'
sss_wc= pd.read_excel(data_path)

In [5]:
# Dictionary of replacements
replacements = {
    "Republic of Ireland": "Ireland",
    "CIS": "Commonwealth of Independent States",
    "FR Yugoslavia": "Yugoslavia"
}

# List of all relevant DataFrames
datasets = [
    goals_eu_uefa, goals_eu_fifa, mbm_eu_uefa, mbm_eu_fifa,
    goals_wc_uefa, goals_wc_fifa, mbm_wc_uefa, mbm_wc_fifa
]

# Apply replacements to each dataset
for df in datasets:
    df['home_team'] = df['home_team'].replace(replacements)
    df['away_team'] = df['away_team'].replace(replacements)

# Optional: show one updated DataFrame
display(goals_eu_uefa)

,year,stage,date,time,goal_minute,half_time,home_team,away_team,scorer_team,new_top_teams,...,third_qualify,qualified_teams,qual_changed,qual_count,pts_diff,gls_diff,elo_home,elo_away,h2h,suspense
0,1984,Group 1,1984-06-19,20:30,0,NaN,NaN,NaN,NaN,"['France', 'Denmark']",...,0,"['France', 'Denmark']",0,0,0,-7,NaN,NaN,1,1
1,1984,Group 1,1984-06-19,20:30,26,1.0,Denmark,Belgium,Belgium,"['Belgium', 'France']",...,0,"['France', 'Belgium']",1,1,-2,5,1809.0,1898.0,1,1
2,1984,Group 1,1984-06-19,20:30,32,1.0,France,Yugoslavia,Yugoslavia,"['Belgium', 'France']",...,0,"['France', 'Belgium']",0,1,-2,5,1960.0,1890.0,1,1
3,1984,Group 1,1984-06-19,20:30,39,1.0,Denmark,Belgium,Belgium,"['Belgium', 'France']",...,0,"['France', 'Belgium']",0,1,-2,3,1809.0,1898.0,1,0
4,1984,Group 1,1984-06-19,20:30,41,1.0,Denmark,Belgium,Denmark,"['Belgium', 'France']",...,0,"['France', 'Belgium']",0,1,-2,5,1809.0,1898.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,2024,Group F,2024-06-26,21:00,2,1.0,Georgia,Portugal,Georgia,"['Georgia', 'Turkey', 'Portugal']",...,1,"['Portugal', 'Turkey', 'Georgia']",1,1,-2,0,1666.0,2002.0,0,1
266,2024,Group F,2024-06-26,21:00,51,2.0,Czech Republic,Turkey,Turkey,"['Georgia', 'Turkey', 'Portugal']",...,1,"['Portugal', 'Turkey', 'Georgia']",0,1,-3,-1,1777.0,1749.0,0,0
267,2024,Group F,2024-06-26,21:00,57,2.0,Georgia,Portugal,Georgia,"['Georgia', 'Turkey', 'Portugal']",...,1,"['Portugal', 'Turkey', 'Georgia']",0,1,-3,-2,1666.0,2002.0,0,0
268,2024,Group F,2024-06-26,21:00,66,2.0,Czech Republic,Turkey,Czech Republic,"['Georgia', 'Turkey', 'Portugal']",...,1,"['Portugal', 'Turkey', 'Georgia']",0,1,-2,-1,1777.0,1749.0,0,1
269,2024,Group F,2024-06-26,21:00,94,2.0,Czech Republic,Turkey,Turkey,"['Georgia', 'Turkey', 'Portugal']",...,1,"['Portugal', 'Turkey', 'Georgia']",0,1,-3,-2,1777.0,1749.0,0,0

# Lapré (2022) least squares

In [6]:
# Step 1: Count goals scored by home and away teams
home_goals = goals_eu_uefa[goals_eu_uefa['scorer_team'] == goals_eu_uefa['home_team']] \
    .groupby(['year', 'stage', 'home_team', 'away_team'])['goal_minute'].count().reset_index(name='home_goals')

away_goals = goals_eu_uefa[goals_eu_uefa['scorer_team'] == goals_eu_uefa['away_team']] \
    .groupby(['year', 'stage', 'home_team', 'away_team'])['goal_minute'].count().reset_index(name='away_goals')

# Step 2: Merge goal counts into match-level data
matches = pd.merge(home_goals, away_goals, on=['year', 'stage', 'home_team', 'away_team'], how='outer')
matches[['home_goals', 'away_goals']] = matches[['home_goals', 'away_goals']].fillna(0)

# Step 3: Compute least squares team ratings per year
all_year_ratings = []

for year, df in matches.groupby('year'):
    teams = pd.unique(df[['home_team', 'away_team']].values.ravel())
    team_index = {team: idx for idx, team in enumerate(teams)}
    n_teams = len(teams)

    X = []
    y = []

    for _, row in df.iterrows():
        home = team_index[row['home_team']]
        away = team_index[row['away_team']]
        margin = row['home_goals'] - row['away_goals']

        row_vector = np.zeros(n_teams)
        row_vector[home] = 1
        row_vector[away] = -1

        X.append(row_vector)
        y.append(margin)

    X = np.vstack(X)
    y = np.array(y)

    # Impose the constraint that average rating = 0
    X = np.vstack([X, np.ones(n_teams)])
    y = np.append(y, 0)

    ratings, _, _, _ = lstsq(X, y, rcond=None)

    year_ratings = pd.DataFrame({
        'year': year,
        'team': teams,
        'rating': ratings
    })

    all_year_ratings.append(year_ratings)

# Combine ratings from all years
all_ratings_df = pd.concat(all_year_ratings).sort_values(['year', 'rating'], ascending=[True, False]).reset_index(drop=True)

# Step 4: Build team-level group structure
home_df = matches[['year', 'stage', 'home_team']].copy()
home_df['team'] = home_df['home_team']

away_df = matches[['year', 'stage', 'away_team']].copy()
away_df['team'] = away_df['away_team']

team_groups = pd.concat([
    home_df[['year', 'stage', 'team']],
    away_df[['year', 'stage', 'team']]
]).drop_duplicates()

# Step 5: Merge ratings into group data
team_groups = pd.merge(team_groups, all_ratings_df, on=['year', 'team'], how='left')

# Step 6: Compute group opponent difficulty
group_opponent_rating = []

for (year, stage), group in team_groups.groupby(['year', 'stage']):
    for _, row in group.iterrows():
        team = row['team']
        opponents = group[group['team'] != team]
        avg_opponent_rating = opponents['rating'].mean()
        group_opponent_rating.append({
            'year': year,
            'stage': stage,
            'team': team,
            'group_opponent_rating': avg_opponent_rating
        })

group_opponent_df = pd.DataFrame(group_opponent_rating)

# Step 7: Compute group strength (mean of 4 ratings)
group_strength_df = team_groups.groupby(['year', 'stage']) \
    .agg(group_strength=('rating', 'mean')).reset_index()

# Step 8: Final merge and rounding
result = pd.merge(team_groups, group_opponent_df, on=['year', 'stage', 'team'], how='left')
result = pd.merge(result, group_strength_df, on=['year', 'stage'], how='left')

# Round and clean numerical artifacts
for col in ['rating', 'group_opponent_rating', 'group_strength']:
    result[col] = result[col].apply(lambda x: 0 if abs(x) < 1e-10 else round(x, 2))

# Optional: sort for clarity
result = result.sort_values(['year', 'stage', 'team']).reset_index(drop=True)

# Final output
print(result.head())

   year    stage        team  rating  group_opponent_rating  group_strength
0  1984  Group 1     Belgium    -0.5                   0.17               0
1  1984  Group 1     Denmark     0.5                  -0.17               0
2  1984  Group 1      France     0.5                  -0.17               0
3  1984  Group 1  Yugoslavia    -0.5                   0.17               0
4  1984  Group 2    Portugal     0.5                  -0.17               0

# Lapré (2023) aggregate Elo

In [10]:
# Merge Elo ratings into the result DataFrame
result_elo = pd.merge(result, elo_eu[['year', 'team', 'elo_rating']], on=['year', 'team'], how='left')

# Compute Elo-based group strength and opponent difficulty
group_elo_rows = []

for (year, stage), group in result_elo.groupby(['year', 'stage']):
    group_strength = group['elo_rating'].mean()
    
    for _, row in group.iterrows():
        team = row['team']
        opponents = group[group['team'] != team]
        opp_rating = opponents['elo_rating'].mean()
        
        group_elo_rows.append({
            'year': year,
            'stage': stage,
            'team': team,
            'group_strength_elo': group_strength,
            'group_opponent_elo': opp_rating
        })

# Create DataFrame and merge back
group_elo_df = pd.DataFrame(group_elo_rows)

final = pd.merge(result_elo, group_elo_df, on=['year', 'stage', 'team'], how='left')

# Clean up and round
final['group_strength_elo'] = final['group_strength_elo'].round(0)
final['group_opponent_elo'] = final['group_opponent_elo'].round(0)
final

,year,stage,team,rating,group_opponent_rating,group_strength,elo_rating,group_strength_elo,group_opponent_elo
0,1984,Group 1,Belgium,-0.5,0.17,0,1898,1889.0,1886.0
1,1984,Group 1,Denmark,0.5,-0.17,0,1809,1889.0,1916.0
2,1984,Group 1,France,0.5,-0.17,0,1960,1889.0,1866.0
3,1984,Group 1,Yugoslavia,-0.5,0.17,0,1890,1889.0,1889.0
4,1984,Group 2,Portugal,0.5,-0.17,0,1824,1883.0,1903.0
...,...,...,...,...,...,...,...,...,...
157,2024,Group E,Slovakia,0.0,0.00,0,1671,1659.0,1647.0
158,2024,Group F,Czech Republic,-0.5,0.17,0,1777,1798.0,1806.0
159,2024,Group F,Georgia,1.0,-0.33,0,1666,1798.0,1843.0
160,2024,Group F,Portugal,-1.0,0.33,0,2002,1798.0,1731.0
161,2024,Group F,Turkey,0.5,-0.17,0,1749,1798.0,1815.0