# Libraries

In [13]:
import pandas as pd
from getpass import getuser
from collections import defaultdict
from scipy.stats import ttest_ind

# Load European Championship dataset

In [14]:
# Get the current user's name
user = getuser()

# Path to the dataset
data_path = rf'C:\Users\{user}\Documents\GitHub\tiebreak_wc\data\out\wiki\men\uefa\eu\tb_eu_uefa_men.xlsx'

# Read the dataset with a different encoding
df_eu = pd.read_excel(data_path)

In [15]:
# Grouping by year and stage, summing changes, and calculating avg_change_per_team
aggregated_df_eu = df_eu.groupby(['year', 'stage']).agg(
    sum_changes=('changes', 'sum'),
    avg_change_per_team=('changes', lambda x: x.sum() / len(x))
).reset_index()

aggregated_df_eu

    year    stage  sum_changes  avg_change_per_team
0   1988  Group 1            4                 1.00
1   1988  Group 2            8                 2.00
2   1992  Group 1           18                 4.50
3   1992  Group 2            8                 2.00
4   1996  Group A            6                 1.50
5   1996  Group B           14                 3.50
6   1996  Group C           12                 3.00
7   1996  Group D            6                 1.50
8   2000  Group A           11                 2.75
9   2000  Group B            6                 1.50
10  2000  Group C            7                 1.75
11  2000  Group D            6                 1.50
12  2004  Group A            8                 2.00
13  2004  Group B           12                 3.00
14  2004  Group C           16                 4.00
15  2004  Group D            6                 1.50
16  2008  Group A            6                 1.50
17  2008  Group B            8                 2.00
18  2008  Group C            6                 1.50
19  2008  Group D            6                 1.50
20  2012  Group A            8                 2.00
21  2012  Group B           14                 3.50
22  2012  Group C            6                 1.50
23  2012  Group D            6                 1.50
24  2016  Group A            6                 1.50
25  2016  Group B            6                 1.50
26  2016  Group C            4                 1.00
27  2016  Group D            8                 2.00
28  2016  Group E            6                 1.50
29  2016  Group F            8                 2.00
30  2021  Group A            4                 1.00
31  2021  Group B            9                 2.25
32  2021  Group C            6                 1.50
33  2021  Group D            8                 2.00
34  2021  Group E           10                 2.50
35  2021  Group F           19                 4.75
36  2024  Group A           10                 2.50
37  2024  Group B           10                 2.50
38  2024  Group C            8                 2.00
39  2024  Group D           18                 4.50
40  2024  Group E           11                 2.75
41  2024  Group F            6                 1.50

# Load World Cup dataset

In [16]:
# Path to the dataset
data_path = rf'C:\Users\{user}\Documents\GitHub\tiebreak_wc\data\out\kaggle\fifa\tb_wc_fifa_men.xlsx'

# Read the dataset with a different encoding
df_wc = pd.read_excel(data_path)
df_wc = df_wc.rename(columns={'group_name': 'stage'})
display(df_wc)

     year    stage         team  1st  2nd  3rd  4th  changes
0    1986  Group A    Argentina    1    0    0    0        1
1    1986  Group A        Italy    0    1    1    0        2
2    1986  Group A     Bulgaria    0    1    1    0        2
3    1986  Group A  South Korea    0    0    0    2        2
4    1986  Group B       Mexico    2    1    0    0        3
..    ...      ...          ...  ...  ...  ...  ...      ...
291  2022  Group G       Serbia    0    1    0    2        3
292  2022  Group H     Portugal    1    0    0    0        1
293  2022  Group H  South Korea    0    1    1    1        3
294  2022  Group H      Uruguay    0    1    2    1        4
295  2022  Group H        Ghana    0    1    1    1        3

[296 rows x 8 columns]

In [17]:
# Grouping by year and stage, summing changes, and calculating avg_change_per_team
aggregated_df_wc = df_wc.groupby(['year', 'stage']).agg(
    sum_changes=('changes', 'sum'),
    avg_change_per_team=('changes', lambda x: x.sum() / len(x))
).reset_index()

aggregated_df_wc

    year    stage  sum_changes  avg_change_per_team
0   1986  Group A            7                 1.75
1   1986  Group B           15                 3.75
2   1986  Group C           10                 2.50
3   1986  Group D            8                 2.00
4   1986  Group E            4                 1.00
..   ...      ...          ...                  ...
69  2022  Group D            9                 2.25
70  2022  Group E           19                 4.75
71  2022  Group F            8                 2.00
72  2022  Group G           10                 2.50
73  2022  Group H           11                 2.75

[74 rows x 4 columns]

In [18]:
# Appending the datasets and adding the "wc" variable
combined_df = pd.concat([aggregated_df_wc.assign(wc=1), aggregated_df_eu.assign(wc=0)], ignore_index=True)
combined_df

     year    stage  sum_changes  avg_change_per_team  wc
0    1986  Group A            7                 1.75   1
1    1986  Group B           15                 3.75   1
2    1986  Group C           10                 2.50   1
3    1986  Group D            8                 2.00   1
4    1986  Group E            4                 1.00   1
..    ...      ...          ...                  ...  ..
111  2024  Group B           10                 2.50   0
112  2024  Group C            8                 2.00   0
113  2024  Group D           18                 4.50   0
114  2024  Group E           11                 2.75   0
115  2024  Group F            6                 1.50   0

[116 rows x 5 columns]

In [19]:
# Performing a t-test using the two separate datasets
eu_data = aggregated_df_eu['avg_change_per_team']
wc_data = aggregated_df_wc['avg_change_per_team']

# Performing the t-test
t_stat, p_value = ttest_ind(wc_data, eu_data, equal_var=False)

t_test_results = {
    "t-statistic": t_stat,
    "p-value": p_value
}

t_test_results

{'t-statistic': np.float64(0.6546466633008601),
 'p-value': np.float64(0.5146045555344064)}

# suspense

## European Championship

In [20]:
# Path to the dataset
data_path = rf'C:\Users\{user}\Documents\GitHub\tiebreak_wc\data\out\wiki\men\uefa\eu\active_suspense_eu.xlsx'

# Read the dataset with a different encoding
suspense_eu = pd.read_excel(data_path)

display(suspense_eu)

    year                 team    stage  aggregate_active_suspense
0   1988          Netherlands  Group 2                          4
1   1988  Republic of Ireland  Group 2                          1
2   1992                  CIS  Group 2                          3
3   1992              Denmark  Group 1                          2
4   1992              England  Group 1                          2
5   1992               France  Group 1                          2
6   1992             Scotland  Group 2                          4
7   1996             Bulgaria  Group B                          3
8   1996       Czech Republic  Group C                          3
9   1996               France  Group B                          1
10  1996          Netherlands  Group A                          1
11  1996             Scotland  Group A                          4
12  1996                Spain  Group B                          3
13  2000              Belgium  Group B                          4
14  2000              England  Group A                          3
15  2000               Norway  Group C                          4
16  2000                Spain  Group C                          3
17  2004             Bulgaria  Group C                          1
18  2004              Croatia  Group B                          1
19  2004              Germany  Group D                          2
20  2004               Greece  Group A                          3
21  2004                Italy  Group C                          3
22  2004          Netherlands  Group D                          1
23  2004                Spain  Group A                          1
24  2008               Turkey  Group A                          1
25  2012              Croatia  Group C                          2
26  2012       Czech Republic  Group A                          1
27  2012               Greece  Group A                          1
28  2012                Italy  Group C                          1
29  2012             Portugal  Group B                          4
30  2012               Sweden  Group D                          2
31  2016              Austria  Group F                          5
32  2016               Sweden  Group E                          1
33  2016               Turkey  Group D                          1
34  2021               Russia  Group B                          7
35  2021             Scotland  Group D                          2
36  2024              Albania  Group B                          2
37  2024              Hungary  Group A                          2
38  2024               Serbia  Group C                          3
39  2024              Ukraine  Group E                          1

In [21]:
# Grouping by year and stage, summing changes, and calculating avg_change_per_team
agg_suspense_eu = suspense_eu.groupby(['year', 'stage']).agg(
    sum_suspense=('aggregate_active_suspense', 'sum')
).reset_index()

agg_suspense_eu

    year    stage  sum_suspense
0   1988  Group 2             5
1   1992  Group 1             6
2   1992  Group 2             7
3   1996  Group A             5
4   1996  Group B             7
5   1996  Group C             3
6   2000  Group A             3
7   2000  Group B             4
8   2000  Group C             7
9   2004  Group A             4
10  2004  Group B             1
11  2004  Group C             4
12  2004  Group D             3
13  2008  Group A             1
14  2012  Group A             2
15  2012  Group B             4
16  2012  Group C             3
17  2012  Group D             2
18  2016  Group D             1
19  2016  Group E             1
20  2016  Group F             5
21  2021  Group B             7
22  2021  Group D             2
23  2024  Group A             2
24  2024  Group B             2
25  2024  Group C             3
26  2024  Group E             1

## World Cup

In [22]:
# Path to the dataset
data_path = rf'C:\Users\{user}\Documents\GitHub\tiebreak_wc\data\out\kaggle\fifa\active_suspence_wc.xlsx'
# Read the dataset with a different encoding
suspense_wc = pd.read_excel(data_path)
suspense_wc = suspense_wc.rename(columns={'group_name': 'stage'})

display(suspense_wc)

    year              team    stage  aggregate_active_suspense
0   1986           Algeria  Group D                          5
1   1986           Morocco  Group F                          1
2   1986  Northern Ireland  Group D                          1
3   1986            Poland  Group F                          1
4   1986          Portugal  Group F                          5
..   ...               ...      ...                        ...
73  2022            Mexico  Group C                          4
74  2022      Saudi Arabia  Group C                          1
75  2022           Senegal  Group A                          2
76  2022       Switzerland  Group G                          1
77  2022           Uruguay  Group H                          1

[78 rows x 4 columns]

In [23]:
# Grouping by year and stage, summing changes, and calculating avg_change_per_team
agg_suspense_wc = suspense_wc.groupby(['year', 'stage']).agg(
    sum_suspense=('aggregate_active_suspense', 'sum')
).reset_index()

agg_suspense_wc

    year    stage  sum_suspense
0   1986  Group A             7
1   1986  Group D             6
2   1986  Group F             7
3   1990  Group A             1
4   1990  Group B             6
5   1990  Group C             2
6   1990  Group E             3
7   1990  Group F             3
8   1994  Group A             2
9   1994  Group B             9
10  1994  Group C             9
11  1994  Group E             2
12  1998  Group A             4
13  1998  Group B             3
14  1998  Group C             3
15  1998  Group D             9
16  1998  Group E             5
17  1998  Group F             1
18  1998  Group G             1
19  2002  Group B             4
20  2002  Group C            10
21  2002  Group D             3
22  2002  Group E             5
23  2002  Group F             1
24  2002  Group G             3
25  2002  Group H             2
26  2006  Group B             3
27  2006  Group D             1
28  2006  Group E             2
29  2006  Group F             5
30  2006  Group G             4
31  2010  Group A             4
32  2010  Group B             5
33  2010  Group C             2
34  2010  Group D             4
35  2010  Group F             5
36  2010  Group G             3
37  2014  Group A             4
38  2014  Group C             4
39  2014  Group F             5
40  2014  Group G             3
41  2014  Group H             1
42  2018  Group B             4
43  2018  Group D             3
44  2018  Group E             1
45  2018  Group H             2
46  2022  Group A             2
47  2022  Group C             5
48  2022  Group D             1
49  2022  Group E             8
50  2022  Group F             3
51  2022  Group G             1
52  2022  Group H             4

In [24]:
# Performing a t-test using the two separate datasets
eu_data = agg_suspense_eu['sum_suspense']
wc_data = agg_suspense_wc['sum_suspense']

# Performing the t-test
t_stat, p_value = ttest_ind(wc_data, eu_data, equal_var=False)

t_test_results = {
    "t-statistic": t_stat,
    "p-value": p_value
}

t_test_results

{'t-statistic': np.float64(0.5059861166577166),
 'p-value': np.float64(0.6147433449270425)}