# Libraries

In [23]:
import pandas as pd
from getpass import getuser
from collections import defaultdict
from scipy.stats import ttest_rel, wilcoxon

In [24]:
# Get the current user's name
user = getuser()

# Load Data

In [25]:
# ---- EURO datasets ----
data_path = rf'C:\Users\{user}\Documents\GitHub\tiebreak_wc\data\out\wiki\men\uefa\eu\goals_eu_uefa.xlsx'
goals_eu_uefa = pd.read_excel(data_path)

data_path = rf'C:\Users\{user}\Documents\GitHub\tiebreak_wc\data\out\wiki\men\fifa\eu\goals_eu_fifa.xlsx'
goals_eu_fifa = pd.read_excel(data_path)

data_path = rf'C:\Users\{user}\Documents\GitHub\tiebreak_wc\data\out\wiki\men\uefa\eu\mbm_eu_uefa.xlsx'
mbm_eu_uefa = pd.read_excel(data_path)

data_path = rf'C:\Users\{user}\Documents\GitHub\tiebreak_wc\data\out\wiki\men\fifa\eu\mbm_eu_fifa.xlsx'
mbm_eu_fifa = pd.read_excel(data_path)

# ---- WORLD CUP datasets ----
data_path = rf'C:\Users\{user}\Documents\GitHub\tiebreak_wc\data\out\wiki\men\uefa\wc\goals_wc_uefa.xlsx'
goals_wc_uefa = pd.read_excel(data_path)

data_path = rf'C:\Users\{user}\Documents\GitHub\tiebreak_wc\data\out\wiki\men\fifa\wc\goals_wc_fifa.xlsx'
goals_wc_fifa = pd.read_excel(data_path)

data_path = rf'C:\Users\{user}\Documents\GitHub\tiebreak_wc\data\out\wiki\men\uefa\wc\mbm_wc_uefa.xlsx'
mbm_wc_uefa = pd.read_excel(data_path)

data_path = rf'C:\Users\{user}\Documents\GitHub\tiebreak_wc\data\out\wiki\men\fifa\wc\mbm_wc_fifa.xlsx'
mbm_wc_fifa = pd.read_excel(data_path)

# ---- Elo files ----
data_path = rf'C:\Users\{user}\Documents\GitHub\tiebreak_wc\data\in\elo_eu.xlsx'
elo_eu = pd.read_excel(data_path)

data_path = rf'C:\Users\{user}\Documents\GitHub\tiebreak_wc\data\in\elo_wc.xlsx'
elo_wc = pd.read_excel(data_path)

# ---- shock, suspense, surprise ----
data_path = rf'C:\Users\{user}\Documents\GitHub\tiebreak_wc\data\out\wiki\men\uefa\eu\tab_prob_eu_uefa.xlsx'
sss_eu = pd.read_excel(data_path)

data_path = rf'C:\Users\{user}\Documents\GitHub\tiebreak_wc\data\out\wiki\men\fifa\wc\tab_prob_fifa_wc.xlsx'
sss_wc= pd.read_excel(data_path)

In [26]:
# Dictionary of replacements
replacements = {
    "Republic of Ireland": "Ireland",
    "CIS": "Commonwealth of Independent States",
    "FR Yugoslavia": "Yugoslavia"
}

# List of all relevant DataFrames
datasets = [
    goals_eu_uefa, goals_eu_fifa, mbm_eu_uefa, mbm_eu_fifa,
    goals_wc_uefa, goals_wc_fifa, mbm_wc_uefa, mbm_wc_fifa
]

# Apply replacements to each dataset
for df in datasets:
    df['home_team'] = df['home_team'].replace(replacements)
    df['away_team'] = df['away_team'].replace(replacements)

# Optional: show one updated DataFrame
display(goals_eu_uefa)

,year,stage,date,time,goal_minute,half_time,home_team,away_team,scorer_team,new_top_teams,...,third_qualify,qualified_teams,qual_changed,qual_count,pts_diff,gls_diff,elo_home,elo_away,h2h,suspense
0,1984,Group 1,1984-06-19,20:30,0,NaN,NaN,NaN,NaN,"['France', 'Denmark']",...,0,"['France', 'Denmark']",0,0,0,-7,NaN,NaN,1,1
1,1984,Group 1,1984-06-19,20:30,26,1.0,Denmark,Belgium,Belgium,"['Belgium', 'France']",...,0,"['France', 'Belgium']",1,1,-2,5,1809.0,1898.0,1,1
2,1984,Group 1,1984-06-19,20:30,32,1.0,France,Yugoslavia,Yugoslavia,"['Belgium', 'France']",...,0,"['France', 'Belgium']",0,1,-2,5,1960.0,1890.0,1,1
3,1984,Group 1,1984-06-19,20:30,39,1.0,Denmark,Belgium,Belgium,"['Belgium', 'France']",...,0,"['France', 'Belgium']",0,1,-2,3,1809.0,1898.0,1,0
4,1984,Group 1,1984-06-19,20:30,41,1.0,Denmark,Belgium,Denmark,"['Belgium', 'France']",...,0,"['France', 'Belgium']",0,1,-2,5,1809.0,1898.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,2024,Group F,2024-06-26,21:00,2,1.0,Georgia,Portugal,Georgia,"['Portugal', 'Turkey', 'Georgia']",...,1,"['Portugal', 'Turkey', 'Georgia']",1,1,-2,0,1666.0,2002.0,0,1
266,2024,Group F,2024-06-26,21:00,51,2.0,Czech Republic,Turkey,Turkey,"['Portugal', 'Turkey', 'Georgia']",...,1,"['Portugal', 'Turkey', 'Georgia']",0,1,-3,-1,1777.0,1749.0,0,0
267,2024,Group F,2024-06-26,21:00,57,2.0,Georgia,Portugal,Georgia,"['Portugal', 'Turkey', 'Georgia']",...,1,"['Portugal', 'Turkey', 'Georgia']",0,1,-3,-2,1666.0,2002.0,0,0
268,2024,Group F,2024-06-26,21:00,66,2.0,Czech Republic,Turkey,Czech Republic,"['Portugal', 'Turkey', 'Georgia']",...,1,"['Portugal', 'Turkey', 'Georgia']",0,1,-2,-1,1777.0,1749.0,0,1
269,2024,Group F,2024-06-26,21:00,94,2.0,Czech Republic,Turkey,Turkey,"['Portugal', 'Turkey', 'Georgia']",...,1,"['Portugal', 'Turkey', 'Georgia']",0,1,-3,-2,1777.0,1749.0,0,0

# aggregate measure for elo, suspense, and changes

In [27]:
def compute_aggregated_metrics(goals_df, elo_df):
    """
    Merges Elo ratings for home and away teams, computes average Elo per match,
    and aggregates average Elo, Elo standard deviation, qual_count, and suspense by year and stage.

    Parameters:
    - goals_df: DataFrame containing match data with 'home_team', 'away_team', 'year', 'stage', 'qual_count', and 'suspense'.
    - elo_df: DataFrame containing Elo ratings with 'team', 'year', and 'elo_rating'.

    Returns:
    - aggregated_df: DataFrame with aggregated metrics by year and group (formerly 'stage').
    """
    # Merge Elo rating for home_team
    merged_df = goals_df.merge(
        elo_df[['year', 'team', 'elo_rating']].rename(columns={'team': 'home_team', 'elo_rating': 'home_elo'}),
        on=['year', 'home_team'],
        how='left'
    )

    # Merge Elo rating for away_team
    merged_df = merged_df.merge(
        elo_df[['year', 'team', 'elo_rating']].rename(columns={'team': 'away_team', 'elo_rating': 'away_elo'}),
        on=['year', 'away_team'],
        how='left'
    )

    # Compute average Elo per match
    merged_df['elo_avg'] = merged_df[['home_elo', 'away_elo']].mean(axis=1)

    # Group and compute aggregate metrics
    aggregated_df = merged_df.groupby(['year', 'stage']).agg(
        elo_avg=('elo_avg', 'mean'),
        elo_std=('elo_avg', 'std'),  # <-- New line
        avg_qual_count=('qual_count', 'mean'),
        avg_suspense=('suspense', 'mean')
    ).reset_index()

    # Rename 'stage' to 'group'
    aggregated_df = aggregated_df.rename(columns={'stage': 'group'})
    return aggregated_df[['year', 'group', 'elo_avg', 'elo_std', 'avg_qual_count', 'avg_suspense']]

In [28]:
agg_goals_eu_uefa = compute_aggregated_metrics(goals_eu_uefa, elo_eu)
agg_goals_eu_fifa = compute_aggregated_metrics(goals_eu_fifa, elo_eu)
agg_mbm_eu_uefa = compute_aggregated_metrics(mbm_eu_uefa, elo_eu)
agg_mbm_eu_fifa = compute_aggregated_metrics(mbm_eu_fifa, elo_eu)

In [29]:
# ---- Compute aggregated metrics for World Cup datasets ----
agg_goals_wc_uefa = compute_aggregated_metrics(goals_wc_uefa, elo_wc)
agg_goals_wc_fifa = compute_aggregated_metrics(goals_wc_fifa, elo_wc)
agg_mbm_wc_uefa   = compute_aggregated_metrics(mbm_wc_uefa, elo_wc)
agg_mbm_wc_fifa   = compute_aggregated_metrics(mbm_wc_fifa, elo_wc)

## add manually elo_avg for 2024 Group C where no goal was scored

In [30]:
# Filter rows where elo_avg is NaN
missing_elo = agg_mbm_eu_uefa[agg_mbm_eu_uefa['elo_avg'].isna()]

# Display the result
print(missing_elo)

    year    group  elo_avg  elo_std  avg_qual_count  avg_suspense
40  2024  Group C      NaN      NaN             0.0           1.0

In [31]:
def patch_group_c_elo(agg_df, elo_df):
    group_c_teams = ['England', 'Denmark', 'Slovenia', 'Serbia']

    # Get average elo for the group
    group_c_elo = elo_df[(elo_df['year'] == 2024) & (elo_df['team'].isin(group_c_teams))]['elo_rating'].mean()

    # Fill in the missing elo_avg value
    agg_df.loc[
        (agg_df['year'] == 2024) & (agg_df['group'] == 'Group C'),
        'elo_avg'
    ] = group_c_elo

    return agg_df

In [32]:
agg_goals_eu_uefa = patch_group_c_elo(agg_goals_eu_uefa, elo_eu)
agg_goals_eu_fifa = patch_group_c_elo(agg_goals_eu_fifa, elo_eu)
agg_mbm_eu_uefa = patch_group_c_elo(agg_mbm_eu_uefa, elo_eu)
agg_mbm_eu_fifa = patch_group_c_elo(agg_mbm_eu_fifa, elo_eu)

In [33]:
# Filter rows where elo_avg is NaN
missing_elo = agg_mbm_wc_fifa[agg_mbm_wc_fifa['elo_avg'].isna()]

# Display the result
print(missing_elo)

Empty DataFrame
Columns: [year, group, elo_avg, elo_std, avg_qual_count, avg_suspense]
Index: []

# correlation analysis

In [34]:
def show_correlations(df, dataset_name):
    # Select only numeric columns of interest
    corr_matrix = df[['elo_std', 'avg_qual_count', 'avg_suspense']].corr()

    print(f"\nCorrelation matrix for {dataset_name}:\n")
    print(corr_matrix)

In [35]:
# ---- Apply to EURO datasets ----
show_correlations(agg_goals_eu_uefa, 'agg_goals_eu_uefa')
show_correlations(agg_goals_eu_fifa, 'agg_goals_eu_fifa')
show_correlations(agg_mbm_eu_uefa, 'agg_mbm_eu_uefa')
show_correlations(agg_mbm_eu_fifa, 'agg_mbm_eu_fifa')

# ---- Apply to WORLD CUP datasets ----
show_correlations(agg_goals_wc_uefa, 'agg_goals_wc_uefa')
show_correlations(agg_goals_wc_fifa, 'agg_goals_wc_fifa')
show_correlations(agg_mbm_wc_uefa, 'agg_mbm_wc_uefa')
show_correlations(agg_mbm_wc_fifa, 'agg_mbm_wc_fifa')

Correlation matrix for agg_goals_eu_uefa:

                 elo_std  avg_qual_count  avg_suspense
elo_std         1.000000        0.105293      0.264441
avg_qual_count  0.105293        1.000000      0.252357
avg_suspense    0.264441        0.252357      1.000000

Correlation matrix for agg_goals_eu_fifa:

                 elo_std  avg_qual_count  avg_suspense
elo_std         1.000000        0.047972      0.248723
avg_qual_count  0.047972        1.000000      0.444604
avg_suspense    0.248723        0.444604      1.000000

Correlation matrix for agg_mbm_eu_uefa:

                 elo_std  avg_qual_count  avg_suspense
elo_std         1.000000        0.089860      0.114802
avg_qual_count  0.089860        1.000000      0.218186
avg_suspense    0.114802        0.218186      1.000000

Correlation matrix for agg_mbm_eu_fifa:

                 elo_std  avg_qual_count  avg_suspense
elo_std         1.000000        0.086411      0.072537
avg_qual_count  0.086411        1.000000      0.352235
avg_suspense    0.072537        0.352235      1.000000

Correlation matrix for agg_goals_wc_uefa:

                 elo_std  avg_qual_count  avg_suspense
elo_std         1.000000       -0.122936     -0.124900
avg_qual_count -0.122936        1.000000      0.528892
avg_suspense   -0.124900        0.528892      1.000000

Correlation matrix for agg_goals_wc_fifa:

                 elo_std  avg_qual_count  avg_suspense
elo_std         1.000000       -0.060145     -0.281481
avg_qual_count -0.060145        1.000000      0.521408
avg_suspense   -0.281481        0.521408      1.000000

Correlation matrix for agg_mbm_wc_uefa:

                 elo_std  avg_qual_count  avg_suspense
elo_std         1.000000       -0.058169     -0.176760
avg_qual_count -0.058169        1.000000      0.445201
avg_suspense   -0.176760        0.445201      1.000000

Correlation matrix for agg_mbm_wc_fifa:

                 elo_std  avg_qual_count  avg_suspense
elo_std         1.000000       -0.002611     -0.300798
avg_qual_count -0.002611        1.000000      0.419747
avg_suspense   -0.300798        0.419747      1.000000

# aggregate difference UEFA vs FIFA

## Paired t-test and Wilcoxon test

### Euro

In [36]:
# Define the key columns and value columns
key_cols = ['year', 'group', 'elo_avg', 'elo_std']
value_cols = ['avg_qual_count', 'avg_suspense']

# Merge the datasets on the key columns
merged = pd.merge(
    agg_goals_eu_uefa, agg_goals_eu_fifa,
    on=key_cols, suffixes=('_uefa', '_fifa'), how='inner'
)

# Check where the value columns differ
differences = merged[
    (merged['avg_qual_count_uefa'] != merged['avg_qual_count_fifa']) |
    (merged['avg_suspense_uefa'] != merged['avg_suspense_fifa'])
]

display(differences)

,year,group,elo_avg,elo_std,avg_qual_count_uefa,avg_suspense_uefa,avg_qual_count_fifa,avg_suspense_fifa
2,1988,Group 1,1924.500000,13.279056,0.000000,0.000000,0.000000,0.200000
3,1988,Group 2,1966.400000,46.063000,0.166667,0.833333,0.166667,1.000000
4,1992,Group 1,1920.750000,3.012474,1.571429,0.857143,1.571429,1.000000
6,1996,Group A,1882.083333,47.560926,0.428571,0.571429,0.428571,0.428571
7,1996,Group B,1925.857143,14.164846,2.500000,1.000000,2.500000,0.875000
8,1996,Group C,1920.000000,0.000000,0.428571,0.428571,1.285714,0.714286
10,2000,Group A,1889.750000,7.245688,1.666667,0.777778,1.666667,0.888889
12,2000,Group C,1981.500000,0.000000,0.125000,0.625000,3.375000,1.000000
14,2004,Group A,1829.375000,85.750000,0.200000,1.000000,1.000000,1.000000
16,2004,Group C,1843.214286,9.621405,0.000000,0.375000,0.000000,0.250000
17,2004,Group D,1829.250000,92.291251,0.571429,0.571429,0.571429,0.428571
18,2008,Group A,1855.214286,19.274026,0.125000,0.250000,0.125000,0.375000
21,2008,Group D,1862.500000,65.726707,0.833333,0.166667,0.833333,0.500000
22,2012,Group A,1785.000000,42.426407,1.000000,1.000000,1.000000,0.666667
23,2012,Group B,1946.500000,18.074844,2.571429,0.428571,2.571429,0.714286
29,2016,Group D,1860.100000,62.166510,0.666667,0.500000,1.500000,0.666667
30,2016,Group E,1829.750000,18.738330,0.333333,0.333333,1.000000,0.333333
32,2021,Group A,1861.100000,34.882660,0.833333,0.000000,0.000000,0.166667
33,2021,Group B,1868.071429,16.346326,1.750000,0.375000,1.750000,0.875000
35,2021,Group D,1776.200000,55.230879,1.500000,0.000000,2.333333,0.166667
37,2021,Group F,1951.000000,120.267559,2.555556,0.666667,2.555556,1.000000
39,2024,Group B,1913.166667,79.385662,0.750000,0.500000,1.500000,0.750000

In [37]:

# Compute differences
qual_diff = differences['avg_qual_count_uefa'] - differences['avg_qual_count_fifa']
suspense_diff = differences['avg_suspense_uefa'] - differences['avg_suspense_fifa']

print("Mean suspense difference (UEFA - FIFA):", suspense_diff.mean())
print("Mean qualification count difference (UEFA - FIFA):", qual_diff.mean())


# Paired t-test
ttest_qual = ttest_rel(differences['avg_qual_count_uefa'], differences['avg_qual_count_fifa'])
ttest_suspense = ttest_rel(differences['avg_suspense_uefa'], differences['avg_suspense_fifa'])

# Wilcoxon test (drop rows where diff is exactly 0 or NaN)
wilcoxon_qual = wilcoxon(qual_diff[qual_diff != 0])
wilcoxon_suspense = wilcoxon(suspense_diff[suspense_diff != 0])

# Display results
print("Paired t-test (Qualification Count):", ttest_qual)
print("Wilcoxon (Qualification Count):", wilcoxon_qual)
print("Paired t-test (Suspense):", ttest_suspense)
print("Wilcoxon (Suspense):", wilcoxon_suspense)

Mean suspense difference (UEFA - FIFA): -0.12453102453102455
Mean qualification count difference (UEFA - FIFA): -0.3253246753246754
Paired t-test (Qualification Count): Ttest_relResult(statistic=-1.9622390916363575, pvalue=0.06312205471669274)
Wilcoxon (Qualification Count): WilcoxonResult(statistic=4.5, pvalue=0.0546875)
Paired t-test (Suspense): Ttest_relResult(statistic=-2.8531949158298544, pvalue=0.009520175041629598)
Wilcoxon (Suspense): WilcoxonResult(statistic=34.0, pvalue=0.006389617919921875)

| Metric              | Significance | Interpretation                                                                        |
| ------------------- | -------------------------- | ------------------------------------------------------------------------------------- |
| Qualification Count | Weakly (10% level)         | Some evidence FIFA and UEFA differ in how many time the composition of team qualifying changes. |
| Suspense            | Yes (1% level)             | Strong evidence FIFA and UEFA differ in match suspense generation.                    |

## WC

In [38]:
# Define the key columns and value columns
key_cols = ['year', 'group', 'elo_avg', 'elo_std']
value_cols = ['avg_qual_count', 'avg_suspense']

# Merge the datasets on the key columns
merged = pd.merge(
    agg_goals_wc_uefa, agg_goals_wc_fifa,
    on=key_cols, suffixes=('_uefa', '_fifa'), how='inner'
)

# Check where the value columns differ
differences = merged[
    (merged['avg_qual_count_uefa'] != merged['avg_qual_count_fifa']) |
    (merged['avg_suspense_uefa'] != merged['avg_suspense_fifa'])
]

display(differences)

,year,group,elo_avg,elo_std,avg_qual_count_uefa,avg_suspense_uefa,avg_qual_count_fifa,avg_suspense_fifa
0,1986,Group A,1783.214286,50.746804,0.875000,0.375000,0.000000,0.625000
1,1986,Group B,1800.100000,38.907583,2.000000,1.000000,0.000000,0.000000
3,1986,Group D,1821.250000,67.643736,0.000000,0.142857,1.571429,0.285714
4,1986,Group E,1916.000000,0.000000,0.000000,0.000000,0.000000,1.000000
5,1986,Group F,1800.500000,91.670606,1.375000,0.250000,2.250000,0.500000
6,1990,Group A,1769.800000,128.440940,0.000000,0.000000,0.666667,0.000000
7,1990,Group B,1807.833333,29.176475,0.571429,1.000000,0.428571,0.428571
8,1990,Group C,1803.500000,42.000000,1.400000,0.400000,1.800000,0.600000
9,1990,Group D,1739.857143,107.349008,0.000000,0.125000,0.000000,0.000000
10,1990,Group E,1869.875000,33.250000,0.000000,0.000000,0.200000,0.000000
11,1990,Group F,1906.166667,97.572195,0.250000,1.000000,1.500000,1.000000
12,1994,Group A,1845.666667,108.830526,0.750000,0.750000,0.000000,0.000000
13,1994,Group B,1813.666667,68.789534,0.000000,0.000000,0.200000,0.000000
14,1994,Group C,1819.722222,21.081851,0.000000,0.200000,0.900000,0.200000
15,1994,Group D,1779.000000,73.323484,0.400000,0.200000,0.000000,0.000000
16,1994,Group E,1920.500000,0.000000,1.666667,1.000000,1.000000,1.000000
17,1994,Group F,1808.125000,50.750000,2.000000,0.600000,0.000000,0.600000
18,1998,Group A,1875.500000,133.096581,1.000000,0.857143,1.000000,0.714286
21,1998,Group D,1850.136364,100.400471,1.250000,0.916667,1.250000,0.333333
22,1998,Group E,1866.833333,56.803756,1.142857,0.714286,1.142857,0.571429
28,2002,Group C,1786.400000,39.609763,1.363636,0.454545,1.363636,0.727273
29,2002,Group D,1788.300000,38.683976,0.000000,0.666667,1.166667,1.000000
30,2002,Group E,1808.200000,27.659989,0.833333,1.000000,0.833333,0.500000
32,2002,Group G,1881.166667,66.395281,0.500000,0.500000,1.250000,0.750000
38,2006,Group E,1819.700000,126.250050,0.000000,0.333333,0.833333,0.500000
40,2006,Group G,1748.000000,19.052559,0.600000,0.800000,0.600000,0.600000
45,2010,Group D,1812.250000,7.500000,0.800000,0.400000,0.000000,0.400000
46,2010,Group E,1789.428571,75.367670,0.000000,0.125000,0.000000,0.500000
49,2010,Group H,1999.000000,0.000000,0.750000,0.250000,0.000000,0.500000
52,2014,Group C,1833.437500,27.688881,1.333333,0.888889,1.333333,1.000000
54,2014,Group E,1762.500000,0.000000,0.000000,0.250000,0.750000,0.750000
56,2014,Group G,1861.125000,69.250000,0.000000,0.000000,0.000000,0.200000
63,2018,Group F,1851.500000,39.709885,0.833333,0.166667,0.833333,0.500000
65,2018,Group H,1798.000000,57.275649,0.333333,1.000000,1.000000,1.000000
67,2022,Group B,1840.625000,28.750000,0.800000,0.200000,0.800000,1.000000
68,2022,Group C,1824.600000,140.490836,0.833333,0.833333,0.000000,0.833333
69,2022,Group D,1850.500000,7.778175,0.000000,0.333333,1.000000,0.666667
70,2022,Group E,1874.833333,32.000000,3.100000,0.500000,2.300000,0.600000
72,2022,Group G,1898.666667,4.490731,1.000000,0.142857,1.000000,0.571429
73,2022,Group H,1838.200000,79.145910,0.833333,0.666667,0.833333,0.833333

In [39]:

# Compute differences
qual_diff = differences['avg_qual_count_uefa'] - differences['avg_qual_count_fifa']
suspense_diff = differences['avg_suspense_uefa'] - differences['avg_suspense_fifa']

print("Mean suspense difference (UEFA - FIFA):", suspense_diff.mean())
print("Mean qualification count difference (UEFA - FIFA):", qual_diff.mean())

# Paired t-test
ttest_qual = ttest_rel(differences['avg_qual_count_uefa'], differences['avg_qual_count_fifa'])
ttest_suspense = ttest_rel(differences['avg_suspense_uefa'], differences['avg_suspense_fifa'])

# Wilcoxon test (drop rows where diff is exactly 0 or NaN)
wilcoxon_qual = wilcoxon(qual_diff[qual_diff != 0])
wilcoxon_suspense = wilcoxon(suspense_diff[suspense_diff != 0])

# Display results
print("Paired t-test (Qualification Count):", ttest_qual)
print("Wilcoxon (Qualification Count):", wilcoxon_qual)
print("Paired t-test (Suspense):", ttest_suspense)
print("Wilcoxon (Suspense):", wilcoxon_suspense)

Mean suspense difference (UEFA - FIFA): -0.05620310245310245
Mean qualification count difference (UEFA - FIFA): -0.030297619047619052
Paired t-test (Qualification Count): Ttest_relResult(statistic=-0.247536897663177, pvalue=0.8057913415964434)
Wilcoxon (Qualification Count): WilcoxonResult(statistic=142.5, pvalue=0.5964998602867126)
Paired t-test (Suspense): Ttest_relResult(statistic=-0.9431455064957561, pvalue=0.3514127285898244)
Wilcoxon (Suspense): WilcoxonResult(statistic=166.5, pvalue=0.174459498111753)

Both tests clearly indicate no statistically significant difference in average qualification count between the FIFA and UEFA variants of the group compositions.